.auth {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h4 a {
  color: blue;
  text-decoration: underline;
}

h4 a:hover {
  background-color: #bbb;
  color: white;
}