.login {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #ccc;
  border-radius: 10px;
  width: 300px;
  height: 175px;
}

form {
  flex: 4;
  display: flex;
  flex-direction: column;
}

form div {
  flex: 1;
  height: 20px;
}

h2 {
  flex: 1;
  color: #222;
}